/*Removed all existing stuff*/

#bracket {
    background-color: lightblue;
    display: grid;
    height: 250px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
}

#f4l {
    background-color: blue;
}

#champ {
    background-color: red;
}

#f4r {
    background-color: green;
}