#bracket {
    background-color: #FFFFFF;
    display: grid;
    height: 900px;
    grid-template-columns: repeat(11, 140px); /*Need to figure out alignment around contained grid sizes*/
    align-content: center;
    justify-content: center;
    grid-gap: 20px;
    width: 1800px;
}

#bracket_js {
    background-color: #FFFFFF;
    display: grid;
    height: 900px;
    grid-template-columns: repeat(11, 140px); /*Need to figure out alignment around contained grid sizes*/
    align-content: center;
    justify-content: center;
    grid-gap: 20px;
    width: 1800px;
}

.bracket_column {
    display: grid;
    align-items: center;
    height: inherit; /*Why does this change behavior of center on this column of grid, and the behavior of other columns?*/
}

/*#f4l {background-color: blue;}*/

.matchup {
    display: grid;
    background-image: radial-gradient(#FFFFFF, #62C6F2 250px);
    box-shadow: 2px 2px #F0F0F0;
    grid-template-columns: 20px 100px 20px;
    grid-template-rows: repeat(2, 20px);
    align-items: center;
    border-radius: 10px;
    height: 40px;
}

.right {
    direction: rtl;
}

.seed {
    text-align: center;
}

.team {
    text-align: left;
}

.score {
    text-align: center;
}

.winner {
    font-weight: bolder;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
}

header {
    border: 3px;
    border-color: black;
    background-color: coral;
    height: 100px;
    background-image: url('./images/carolina_bball_court_logo.jpg');
    background-size: 250px;
}

footer {
    border: 3px;
    border-color: black;
    background-color:darkturquoise;
    height: 100px;
}

.navbar_filler {
    height: 80%;
}

.navbar {
    overflow: hidden;
    background-color: black;
    height: 20px;
}

.navbar a {
    background-color: black;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
}

body {
    background-color: #62C6F2;
    width: 1800px;
    justify-content: center;
}